/* Brand Color's */
:root {
    --black: #000000;
    --white: #ffffff;
    --brand-primary: #f4501d;
    --shilety: #939393;
    --gree: #8e919a;
    --brown: #303030;
    --sky-blue: #7c89f1;
    --fhutar-bootam: #D84A1F;
    --border: #a09f9f;
}